---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
<div>
  <p>
    You can also find my articles on 
    <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.
  </p>
  <p>
    <i style="font-size: smaller;">
      Note: When listed as the first author, I led the majority of the work, including technical development (image processing, algorithm development, and simulations), experimental tasks (measurements, data acquisition, and dose calculations), and study design, with valuable input from co-authors. For articles where I am not listed first, I contributed in supporting roles, such as assisting with image acquisition, simulations, or data analysis, while the primary work was carried out by other authors.
    </i>
  </p>
</div>

{% endif %}


<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% for category in site.publication_category  %}
    {% assign title_shown = false %}
    {% for post in site.publications reversed %}
      {% if post.category != category[0] %}
        {% continue %}
      {% endif %}
      {% unless title_shown %}
        <h2>{{ category[1].title }}</h2><hr />
        {% assign title_shown = true %}
      {% endunless %}
      {% include archive-single.html %}
    {% endfor %}
  {% endfor %}
{% else %}
  {% for post in site.publications reversed %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



